<div class="container">
  <div class="recover">
    <form
      [formGroup]="f"
      (ngSubmit)="f.valid && setup()"
      #formUpdate="ngForm"
      class="form-recover"
    >
      <h2>Setup Password</h2>

      <div>
        <label for="password">New Password</label> <br />
        <input
          type="password"
          placeholder="New Password"
          name="newPassword"
          formControlName="password"
          class="input"
          [ngClass]="{
            'has-error': inputHasError(password, formUpdate.submitted)
          }"
        />
        <span *ngIf="inputHasError(password, formUpdate.submitted)">
          <sh-error-message
            [hasError]="password.errors.required"
            text="Password is"
            strongText="required"
          ></sh-error-message>
          <sh-error-message
            [hasError]="password.errors.minlength"
            text="Must have"
            strongText="at least 8 characters"
          ></sh-error-message>
          <sh-error-message
            [hasError]="password.errors.maxlength"
            text="Must have a"
            strongText="maximum of 16 characters long"
          ></sh-error-message>
          <sh-error-message
            [hasError]="password.errors.hasNumber"
            text="Must have"
            strongText="at least 1 number"
          ></sh-error-message>
          <sh-error-message
            [hasError]="password.errors.hasUpper"
            text="Must have"
            strongText="at least 1 uppercase letter"
          ></sh-error-message>
          <sh-error-message
            [hasError]="password.errors.hasLower"
            text="Must have"
            strongText="at least 1 lowercase letter"
          ></sh-error-message>
          <sh-error-message
            [hasError]="password.errors.hasCharacter"
            text="Must have"
            strongText="at least 1 symbol"
          ></sh-error-message>
          <sh-error-message
            [hasError]="password.errors.notSpaces"
            text="Must not have "
            strongText="spaces"
          ></sh-error-message>
        </span>
      </div>

      <br />

      <div>
        <label for="passwordConfirm"> Confirm Password </label> <br />
        <input
          type="password"
          placeholder="Confirm Password"
          name="passwordConfirm"
          formControlName="passwordConfirm"
          class="input"
          [ngClass]="{
            'has-error': inputHasError(passwordConfirm, formUpdate.submitted)
          }"
        />
        <span *ngIf="inputHasError(passwordConfirm, formUpdate.submitted)">
          <sh-error-message
            [hasError]="passwordConfirm.errors.required"
            text="Confirm password is"
            strongText="required"
          ></sh-error-message>
        </span>

        <sh-error-message
          [hasError]="
            f.hasError('notmatch') && f.get('passwordConfirm').value.length > 0
          "
          text="Password"
          strongText="does not match!"
        ></sh-error-message>
      </div>

      <div *ngIf="pending; then spinner; else button"></div>
      <ng-template #button>
        <div class="submit">
          <button type="submit" [disabled]="!f.valid" class="submit sendButton">
            Send!
          </button>
        </div>
      </ng-template>
      <ng-template #spinner>
        <sk-wave [isRunning]="pending" color="lightgrey"></sk-wave>
      </ng-template>
    </form>
  </div>
</div>
