<h1 class="title-modal">{{type}} Template</h1>
<form [formGroup]="f" (ngSubmit)="f.valid && submit()" #formUpdate="ngForm" class="form">
  <div>
    <label for="">Name</label>
    <input type="text" placeholder="Template Name" name="firstName" id="firstName" formControlName="name" maxlength="30" [value]="name.value"
      [ngClass]="{'has-error' : inputHasError(name, formUpdate.submitted) }">
    <span *ngIf="inputHasError(name, formUpdate.submitted)">
      <sh-error-message [hasError]="name.errors.required" text="name is" strongText="required"></sh-error-message>
      <sh-error-message [hasError]="name.errors.pattern" text="only text is" strongText="allowed"></sh-error-message>
    </span>
  </div>
  <textarea class="text" rows="5" placeholder="Template content" formControlName="content" [ngClass]="{'has-error' : inputHasError(content, formUpdate.submitted) }"></textarea>
  <span *ngIf="inputHasError(content, formUpdate.submitted)">
    <sh-error-message [hasError]="content.errors.required" text="content is" strongText="required"></sh-error-message>
  </span>
  <br />
  <div *ngIf="!loading; then button; else spinner"></div>
  <ng-template #button>
    <button class="update" [disabled]="!f.valid">{{type}} </button>
  </ng-template>
  <ng-template #spinner>
    <sk-wave [isRunning]="loading" color="lightgrey"></sk-wave>
  </ng-template>
</form>
