*{
  max-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
}


.imgBack  img {
  width: 100%;
}

.formContent {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1%;
}

.form {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  padding: 15px 0;
}

.title h2 {
 color: #000;
 font-weight: 900;
 font-size: 32px;
 letter-spacing: 1px;
}

.textOpt {
  color: #4f4f4f;
  font-size: 16px;
  text-align: center;
  margin: 5% 0;
}

.sectionGroup {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.sectionGroup label {
  color: #000;
  text-align: left;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
}

.error-email {
  padding-bottom: 16px;
}

.error-password {
  padding-bottom: 5px;
}

mat-error {
  width: 100%;
}

.error-validation {
  color: #e63232;
  font-size: 12px;
}

.input {
  margin: 10px 0px;
  height: 35px;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding-left: 15px;
  color: #4f4f4f;
}

.has-error {
  border-color: red;
}


.submit {
  margin: 30px auto;
  width: 80%;
  color: #FFF;
}

.submit .sendButton {
  cursor: pointer;
  background: #0eaf81;
  border: 0px;
  border-radius: 40px;
  font-size: 1em;
  color: white;
  width: 30%;
  padding: 1% 0;
  text-transform: uppercase;
}

.sendButton:disabled {
  background: #0eaf81 !important;
  cursor: not-allowed !important;
}

@media screen and (max-width: 800px){
  .submit .sendButton {
    width: 70%;
  }
  .sectionGroup {
    width: 65%;
  }
  .container {
    margin-top: 3em;
  }
  .submit .sendButton {
    padding: 2% 0;
  }
}

@media screen and (max-width: 420px) {
  .sectionGroup {
    width: 90%;
  }
  .title h2 {
    font-size: 20px;
  }
  .textOpt span {
    font-size: 14px;
  }
  .sectionGroup label {
    font-size: 14px;
  }
  .sectionGroup input {
    font-size: 12px;
  }
}