<div class="container">
  <div class="formContent">
    <div style="width: 100%;">
      <form
        [formGroup]="f"
        (ngSubmit)="f.valid && recover()"
        #formUpdate="ngForm"
        class="form"
      >
        <div class="title"><h2>Forgot password?</h2></div>
        <div class="textOpt">
          <span
            >Enter your email below to receive your password <br />
            reset instructions</span
          >
        </div>
        <!-- email -->
        <div class="sectionGroup">
          <label for="email">Email Address</label>
          <input
            type="text"
            placeholder="Email"
            name="email"
            id="email"
            formControlName="email"
            class="input"
            [ngClass]="{
              'has-error': inputHasError(emailRecover, formUpdate.submitted)
            }"
          />
          <span *ngIf="inputHasError(emailRecover, formUpdate.submitted)">
            <sh-error-message
              [hasError]="emailRecover.errors.required"
              text="Email is"
              strongText="required"
            ></sh-error-message>
            <sh-error-message
              [hasError]="
                emailRecover.errors.isEmail && !emailRecover.errors.required
              "
              text="Enter a valid"
              strongText="email address"
            ></sh-error-message>
          </span>
        </div>
        <div class="submit">
          <button type="submit" [disabled]="!f.valid" class="sendButton">
            reset password
          </button>
        </div>
      </form>
      <!--
        <div class="rutas">
          <a routerLink="/">Sign In!</a>
        </div>
      -->
      <br />
      <sk-wave [isRunning]="loading" color="lightgrey"></sk-wave>
    </div>
  </div>
</div>
