@import "@app/../../node_modules/font-awesome/css/font-awesome.css";

.container-professional {
  width: 80%;
  height: 100%;
  margin: 0px auto;
  overflow: hidden;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 2em;
}

.titles {
  font-family: Lato;
}

.titles h1 {
  color: #4f4f4f;
  font-size: 0.9em;
  text-align: center;
  font-weight: bold;
  margin: 5px 0;
}

.title h2 {
 color: #000;
 font-weight: 900;
 font-size: 32px;
 text-transform: uppercase;
 margin-bottom: 1em;
}

.titles h3 {
  color: #4f4f4f;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.titles h4 {
  color: #4f4f4f;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.titles a {
  color: #0eaf81;
  font-weight: bold;
}

.form {
  margin: 0px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionGroup {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.sectionGroup label {
  color: #000;
  text-align: left;
  text-transform: capitalize;
  font-size: 18px;
}

.input {
  margin: 10px 0px;
  width: 350px;
  height: 30px;
  font-size: 1em;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding-left: 15px;
}

.input:focus {
  border: 1px solid #d1d1d1;
}

.titles h4 {
  font-weight: lighter;
}

.input {
  height: 35px;
  color: #4f4f4f;
}

.loginButton {
  margin: 20px 0;
  width: 35%;
}

.loginButton .join {
  background: #0eaf81;
  border: 0px;
  border-radius: 40px;
  font-size: 1em;
  color: white;
  width: 80%;
  padding: 1% 0;
}


.error-validation {
  color: #e63232;
  font-size: 16px;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

.has-error {
  border-color: red;
}

.join:disabled {
  background: #0eaf81 !important;
  cursor: not-allowed !important;
}

@media screen and (max-width: 800px) {

  .container-professional {
    width: 88%;
    margin-top: 0;
  }

  .title h2 {
    margin: 2em 0;
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }

  .none h1 {
    display: none !important;
  }

  .none h3 {
    display: none !important;

  }

  .sectionGroup{
    width: 100%;
  }

  .sectionGroup label {
    font-size: 14px;
    color: #000;
  }

  .input {
    width: auto;
    color: #4f4f4f;
    font-size: 12px;
  }

  .loginButton {
    width: 100%;
  }
  .titles h4 {
    font-size: 12px;
    color: #4f4f4f;
  }
  .loginButton .join {
    font-size: 15px;
    font-weight: bold;
  }

}