<div class="container">
  <div class="header">
    <div class="titleHeader">
      <h1>reinventing the job application</h1>
      <h2>Showcase your skills, find the perfect fit</h2>
      <div class="buttonSU">
        <button routerLink="/home/signup">sign up</button>
      </div>
    </div>
    <div class="imgBox">
      <img src="./assets/images/Main_Illustration.svg" alt="" />
    </div>
  </div>
  <div class="sectionProfessionals" id="sectionProfessionals">
    <div class="backImgProf">
      <img src="./assets/images/green_bg.svg" alt="" />
    </div>
    <div class="sectionCont">
      <div class="titleProfessionals"><h1>for professionals</h1></div>
      <div class="contentProfessionals">
        <div class="boxProf">
          <img
            src="./assets/images/Images/Images/inspect/Knac - Homepage and About/Page 1/Knack - Homepage/For Professionals/Feedback_icon.svg"
            alt=""
          />
          <div>
            <span>feedback... finally</span>
            <p>
              Stop feeling lost and receive the feedback you need to land your
              dream job. Complete an assessment to learn where you're going
              wrong... or what you're doing right.
            </p>
          </div>
        </div>
        <div class="boxProf">
          <img src="./assets/images/Coaching_icon.svg" alt="" />
          <div>
            <span>showcase your skills</span>
            <p>
              Don't just say what you can do, prove it. Gain visibility with the
              best companies in the world and stand out from the crowd.
            </p>
          </div>
        </div>
        <div class="boxProf">
          <img src="./assets/images/Search_icon.svg" alt="" />
          <div>
            <span>a better job search</span>
            <p>
              Get access to custom content, hiring assessments, and job postings
              that match your skills.
            </p>
          </div>
        </div>
      </div>
      <div class="buttonMatch">
        <a routerLink="/home/signup/professional">Find your match</a>
        <!-- <button>Find your match</button> -->
      </div>
    </div>
  </div>
  <div class="sectionCompanies" id="sectionCompanies">
    <div class="titleCompanies"><h1>for companies</h1></div>
    <div class="contentCompanies">
      <div class="boxComp">
        <img
          src="./assets/images/Images/Images/inspect/Knac - Homepage and About/Page 1/Knack - Homepage/For Companies/watch_icon.svg"
          alt=""
        />
        <div>
          <span>Save Time Sourcing and Screening Talent</span>
          <p>
            It take an average of 42 days to fill a given position. We cut that
            time in half, making your hiring process more efficient so you
            bypass unqualified applicants and get fast-tracked to the best
            people for the job.
          </p>
        </div>
      </div>
      <div class="boxComp">
        <img src="./assets/images/funnel_icon.svg" alt="" />
        <div>
          <span>Improve the Candidate Experience</span>
          <p>
            Engage applicants in your pipeline and passive candidates by letting
            them complete assessments. Not sure where someone stands? Now you
            can.
          </p>
        </div>
      </div>
      <div class="boxComp">
        <img src="./assets/images/teamwork_icon.svg" alt="" />
        <div>
          <span>Access Our Network of Qualified Talent</span>
          <p>
            Find your target hire. We work to connect you with our pool of
            vetted candidates instantly.
          </p>
        </div>
      </div>
    </div>
    <div class="learnMore">
      <a routerLink="/home/signup/company">Want to learn more?</a>
      <!-- <button>Want to learn more?</button> -->
      <span>Schedule a time to speak with our team</span>
    </div>
  </div>
  <div class="footerContent">
    <div class="titleFooter"><h1>top companies work with knac</h1></div>
    <!-- section images -->
    <div class="boxSection">
      <div><img src="./assets/images/mastercard_logo.png" alt="" /></div>
      <div><img src="./assets/images/google_logo.png" alt="" /></div>
      <div><img src="./assets/images/stubhub_logo.png" alt="" /></div>
      <div>
        <img src="./assets/images/Nike-Logo-Free-PNG-Image-92649.jpg" alt="" />
      </div>
      <div><img src="./assets/images/snapchat_logo.png" alt="" /></div>
    </div>
    <div class="sectionNav">
      <div class="backImg">
        <img src="./assets/images/footer-bg.svg" alt="" />
      </div>
      <div class="footerF">
        <div class="footerIcob">
          <img src="./assets/images/Logo-Knac.PNG" alt="" />
        </div>
        <div class="footerNav">
          <ul>
            <li><a routerLink="/home/signup" href="">Signup</a></li>
            <li><a routerLink="/about" href="">About</a></li>
            <li><a href="mailto:help@knac.io">Support</a></li>
          </ul>
        </div>
        <div class="copyFooter"><p>&copy; 2019 All rights reserved</p></div>
      </div>
    </div>
  </div>
</div>
