<div class="container">
  <div class="header">
    <a
      class="back"
      routerLink="/home/signup/professional"
      *ngIf="router !== '/professional/terms'"
    >
      <img src="./assets/images/BACK.PNG" alt="" /> Back
    </a>
    <div
      class="title"
      [ngClass]="{ title_professional: router == '/professional/terms' }"
    >
      <h1 class="terms-title">Terms and Conditions</h1>
    </div>
  </div>
  <div class="terms-container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>01 - Introduction</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span>1.1 Contract:</span>
        <br /><br />
        <p>
          You agree that by clicking “Join Now”, “Join Knac”, “Join 2020Shift,”
          “Sign Up” or similar, registering, accessing or using our services
          (described below), you are agreeing to enter into a legally binding
          contract with 2020Shift, parent company for Knac. If you do not agree
          to this contract (“Contract” or “User Agreement”), do not click “Join
          Now” (or similar) and do not access or otherwise use any of our
          Services. Your use of our Services is also subject to Privacy Policy
          and Cookie Policy. <br /><br />
          <span>Services</span> <br /><br />
          This Contract applies to 2020Shift.com and Knac.co., including the
          offsite collection of data for Services, such as our ads and the
          “Apply with Knac” and “Share with Knac” plugins. Registered users of
          our Services are “Members” and unregistered users are “Visitors”. This
          Contract applies to both. <br /><br />
          <span>Knac</span> <br /><br />
          You are entering into this Contract with Knac and 2020Shift (also
          referred to as “we” and “us”). Whether you reside in or outside of the
          United States, you are entering into this Contract with 2020Shift LLC
          and your personal data provided to, or collected by or for, our
          Services is controlled by 2020Shift LLC. <br /><br />
        </p>
        <span>1.2 Members and Visitors</span> <br /><br />
        <p>
          When you register and join Knac, you become a Member. If you have
          chosen not to register for our Services, you may access certain
          features as a visitor.<br /><br />
        </p>
        <span>1.3 Change</span> <br /><br />
        <p>
          We may modify this Contract, our Privacy Policy and our Cookies
          Policies from time to time. If we make material changes to it, we will
          provide you notice through our Services, or by other means, to provide
          you the opportunity to review the changes before they become
          effective. If you object to any changes, you may close your account.
          Your continued use of our Services after we publish or send a notice
          about our changes to these terms means that you are consenting to the
          updated terms.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>02 - Obligations</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span>2.1 Service Eligibility:</span>
        <br /><br />
        <p>
          The Services are not for use by anyone under the age of 16.<br /><br />
          To use the Services, you agree that: (1) you must be the “Minimum Age”
          (described below) or older; (2) you will only have one Knac account,
          which must be in your real name; and (3) you are not already
          restricted by Knac from using the Services.<br /><br />
          “Minimum Age” means 16 years old. However, if law requires that you
          must be older in order for Knac to lawfully provide the Services to
          you without parental consent (including using of your personal data)
          then the Minimum Age is such older age.<br /><br />
        </p>
        <span>2.2 Your Account:</span> <br /><br />
        <p>
          Members are account holders. You agree to: (1) try to choose a strong
          and secure password; (2) keep your password secure and confidential;
          (3) not transfer any part of your account and (4) follow the law. You
          are responsible for anything that happens through your account unless
          you close it or report misuse.<br /><br />

          As between you and others (including your employer), your account
          belongs to you. However, if the Services were purchased by another
          party for you to use (e.g. Recruiter seat bought by your employer,
          school/university access), the party paying for such Service has the
          right to control access to and get reports on your use of such paid
          Service; however, they do not have rights to your personal account.<br /><br />
        </p>
        <span>2.3 Payment:</span> <br /><br />
        <p>
          If you buy any of our paid Services (“Premium Services”), you agree to
          pay us the applicable fees and taxes and to additional terms specific
          to the paid Services. Failure to pay these fees will result in the
          termination of your paid Services. Also, you agree that: <br /><br />
        </p>
        <ul>
          <li>
            Your purchase may be subject to foreign exchange fees or differences
            in prices based on location (e.g. exchange rates).
          </li>
          <li>
            We may store and continue billing your payment method (e.g. credit
            card) even after it has expired, to avoid interruptions in your
            Services and to use to pay other Services you may buy.
          </li>
          <li>
            f you purchase a subscription, your payment method automatically
            will be charged at the start of each subscription period for the
            fees and taxes applicable to that period. To avoid future charges,
            cancel before the renewal date. Learn how to cancel or suspend
            (insert link) your Premium Services.
          </li>
          <li>
            All of your purchases of Services are subject to Knac’s refund
            policy.
          </li>
          <li>
            We may calculate taxes payable by you based on the billing
            information that you provide us at the time of purchase.
          </li>
        </ul>
        <p>
          You can get a copy of your invoice through your Knac account settings
          under “Purchase History”. <br /><br />
        </p>
        <span>2.4 Notices and Service Messages:</span> <br /><br />
        <p>
          You’re okay with us providing notices to you through our web app,
          website, and contact information you provided to us. If the contact
          information you provide is out of date, you may miss out on important
          notices. <br /><br />

          You agree that we will provide notices to you in the following ways:
          (1) a notice within the Service, or (2) a message sent to the contact
          information you provided us (e.g., email, mobile number, physical
          address). You agree to keep your contact information up to date.
          <br /><br />
        </p>
        <span>2.5 Sharing:</span> <br /><br />
        <p>
          Our Services allow messaging and sharing of information in a few ways,
          such as your profile, assessments, and job postings. Information and
          content that you share or post may be seen by other Members or
          Visitors. Where we have made settings available, we will honor the
          choices you make about who can see content or information (e.g.,
          restricting your profile visibility from search engines). For job
          searching activities, we default to not notifying the public. So if
          you apply for a job through our Service, take an assessment, or opt to
          signal that you are interested in a job, our default is to share it
          only with the job or assessment poster. We are not obligated to
          publish any information or content on our Service and can remove it in
          our sole discretion, with or without notice.

          <br /><br />
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>03 - Rights and Limits</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span>3.1 Your License to Knac:</span>
        <br /><br />
        <p>
          As between you and Knac, you own the content and information that you
          submit or post to the Services and you are only granting Knac and our
          affiliates the following non-exclusive license: A worldwide,
          transferable and sublicensable right to use, copy, modify, distribute,
          publish, and process, information and content that you provide through
          our Services, without any further consent, notice and/or compensation
          to you or others. These rights are limited in the following ways:
          <br /><br />
        </p>
        <ol>
          <li>
            You can end this license for specific content by deleting such
            content from the Services, or generally by closing your account,
            except (a) to the extent you shared it with others as part of the
            Service and they copied, re-shared it or stored it and (b) for the
            reasonable time it takes to remove from backup and other systems.
          </li>
          <li>
            We will not include your content in advertisements for the products
            and services of third parties to others without your separate
            consent (including sponsored content). However, we have the right,
            without payment to you or others, to serve ads near your content and
            information, and your social actions on sponsored content and
            company pages may be visible, as noted in the Privacy Policy.
          </li>
          <li>
            We will get your consent if we want to give third parties the right
            to publish your content beyond the Service.
          </li>
          <li>
            While we may edit and make formatting changes to your content (such
            as translating it, modifying the size, layout or file type or
            removing metadata), we will not modify the meaning of your
            expression.
          </li>
          <li>
            Because you own your content and information and we only have
            non-exclusive rights to it, you may choose to make it available to
            others, including under the terms of ….
          </li>
          <li>
            You agree that we may access, store and use any information that you
            provide in accordance with the terms of the Privacy Policy and your
            choices (including settings).
          </li>
        </ol>
        <p>
          By submitting suggestions or other feedback regarding our Services to
          Knac, you agree that Knac and/or 2020Shift can use and share (but does
          not have to) such feedback for any purpose without compensation to
          you. You agree to only provide content or information that does not
          violate the law nor anyone’s rights (including intellectual property
          rights). You also agree that your profile information will be
          truthful. Knac may be required by law to remove certain information or
          content in certain countries. <br /><br />
        </p>
        <span>3.2 Service Availability:</span> <br /><br />
        <p>
          We may change or discontinue any of our Services. We don’t promise to
          store or keep showing any information and content that you’ve posted.
          <br /><br />
        </p>
        <span>3.3 Third-Party Apps &amp; Sites:</span> <br /><br />
        <p>
          You are responsible for deciding if you want to access or use third
          party apps or sites that link from our Services. If you allow a third
          party app or site to authenticate you or connect with your Knac
          account, that app or site can access information on Knac related to
          you. Third party apps and sites have their own legal terms and privacy
          policies, and you may be giving others permission to use your
          information in ways we would not. Except to the limited extent it may
          be required by applicable law, Knac is not responsible for these other
          sites and apps – use these at your own risk. Please see our Privacy
          Policy. <br /><br />
        </p>
        <span>3.4 Limits:</span> <br /><br />
        <p>
          2020Shift and/or Knac reserves the right to restrict, suspend, or
          terminate your account if we believe that you may be in breach of this
          Contract or law or are misusing the Services. <br /><br />
        </p>
        <span>3.5 Intellectual Property Rights:</span> <br /><br />
        <p>
          Knac reserves all of its intellectual property rights in the Services.
          Using the Services does not give you any ownership in our Services or
          the content or information made available through our Services.
          Trademarks and logos used in connection with the Services are be the
          trademarks of their respective owners. 2020Shift, Knac, logos and
          other affiliated trademarks, service marks, graphics, and logos used
          for our Services are trademarks or registered trademarks of 2020Shift
          and/or Knac. <br /><br />
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>04 - Disclaimer and Limit of Liability</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span>4.1 No Warranty:</span>
        <br /><br />
        <p>
          TO THE EXTENT ALLOWED UNDER LAW, 2020SHIFT, KNAC AND ITS AFFILIATES
          (AND THOSE THAT KNAC WORKS WITH TO PROVIDE THE SERVICES) (A) DISCLAIM
          ALL IMPLIED WARRANTIES AND REPRESENTATIONS (E.G. WARRANTIES OF
          MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY OF DATA,
          AND NONINFRINGEMENT); (B) DO NOT GUARANTEE THAT THE SERVICES WILL
          FUNCTION WITHOUT INTERRUPTION OR ERRORS, AND (C) PROVIDE THE SERVICE
          (INCLUDING CONTENT AND INFORMATION) ON AN “AS IS” AND “AS AVAILABLE”
          BASIS. SOME LAWS DO NOT ALLOW CERTAIN DISCLAIMERS, SO SOME OR ALL OF
          THESE DISCLAIMERS MAY NOT APPLY TO YOU. <br />
          <br />
        </p>
        <span>4.2 Exclusion of Liability:</span> <br /><br />
        <p>
          TO THE EXTENT PERMITTED UNDER LAW (AND UNLESS 2020SHIFT/KNAC HAS
          ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT OVERRIDES THIS
          CONTRACT), 2020SHIFT AND ITS AFFILIATES (AND THOSE THAT 2020SHIFT
          WORKS WITH TO PROVIDE THE SERVICES) SHALL NOT BE LIABLE TO YOU OR
          OTHERS FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR
          PUNITIVE DAMAGES, OR ANY LOSS OF DATA, OPPORTUNITIES, REPUTATION,
          PROFITS OR REVENUES, RELATED TO THE SERVICES (E.G. OFFENSIVE OR
          DEFAMATORY STATEMENTS, DOWN TIME OR LOSS, USE OF, OR CHANGES TO, YOUR
          INFORMATION OR CONTENT).<br /><br />
          IN NO EVENT SHALL THE LIABILITY OF 2020SHIFT AND ITS AFFILIATES (AND
          THOSE THAT 2020SHIFT WORKS WITH TO PROVIDE THE SERVICES) EXCEED, IN
          THE AGGREGATE FOR ALL CLAIMS, AN AMOUNT THAT IS THE LESSER OF (A) ____
          PAID FOR A PREMIUM SERVICE, IF ANY, OR (B) US ____. <br /><br />
          THIS LIMITATION OF LIABILITY IS PART OF THE BASIS OF THE BARGAIN
          BETWEEN YOU AND 2020SHIFT AND SHALL APPLY TO ALL CLAIMS OF LIABILITY
          (E.G. WARRANTY, TORT, NEGLIGENCE, CONTRACT, LAW) AND EVEN IF 2020SHIFT
          OR ITS AFFILIATES HAS BEEN TOLD OF THE POSSIBILITY OF ANY SUCH DAMAGE,
          AND EVEN IF THESE REMEDIES FAIL THEIR ESSENTIAL PURPOSE.<br /><br />
          SOME LAWS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY, SO
          THESE LIMITS MAY NOT APPLY TO YOU. ISCLAIMERS, SO SOME OR ALL OF THESE
          DISCLAIMERS MAY NOT APPLY TO YOU. <br /><br />
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>05 - Termination</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Both you and 2020Shift/Knac may terminate this Contract at any time
          with notice to the other. On termination, you lose the right to access
          or use the Services. The following shall survive termination:
          <br /><br />
        </p>
        <ul>
          <li>Our rights to use and disclose your feedback</li>
          <li>
            Members and/or Visitors’ rights to further re-share content and
            information you shared through the Service to the extent copied or
            re-shared prior to termination;
          </li>
          <li>Sections 4 and 7 of this Contract;</li>
          <li>
            Any amounts owed by either party prior to termination remain owed
            after termination. You can visit our _____ to close your account.
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>06 - General Terms</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          If a court with authority over this Contract finds any part of it not
          enforceable, you and us agree that the court should modify the terms
          to make that part enforceable while still achieving its intent. If the
          court cannot do that, you and us agree to ask the court to remove that
          unenforceable part and still enforce the rest of this Contract. To the
          extent allowed by law, the English language version of this Contract
          is binding and other translations are for convenience only. This
          Contract (including additional terms that may be provided by us when
          you engage with a feature of the Services) is the only agreement
          between us regarding the Services and supersedes all prior agreements
          for the Services. <br /><br />
          If we don't act to enforce a breach of this Contract, that does not
          mean that 2020Shift has waived its right to enforce this Contract. You
          may not assign or transfer this Contract (or your membership or use of
          Services) to anyone without our consent. However, you agree that
          2020Shift may assign this Contract to its affiliates or a party that
          buys it without your consent. There are no third party beneficiaries
          to this Contract. <br /><br />
          We reserve the right to change the terms of this Contract and will
          provide you notice if we do and we agree that changes cannot be
          retroactive. If you don't agree to these changes, you must stop using
          the Services. <br /><br />
          You agree that the only way to provide us legal notice is at the
          addresses provided in Contact Us section. <br /><br />
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
