<div class="container">
  <div class="img">
    <img src="../../../../../../assets/images/logo.png" alt="" srcset="" />
  </div>
  <div class="titles">
    <div><h1>Welcome to Knac!</h1></div>
    <div><h2>Are you a company or a professional?</h2></div>
  </div>
  <div class="main">
    <div>
      <a
        routerLink="/home/signup/company"
        class="company"
        style="text-decoration: none"
      >
        company
      </a>
    </div>
    <div>
      <a
        routerLink="/home/signup/professional"
        class="professionals"
        style="text-decoration: none"
      >
        professionals
      </a>
    </div>
  </div>
</div>
