  
  .container {
    margin: 0px auto;
    overflow: hidden;
  }
  
  .img {
    width: 140px;
    height: 140px;
    margin: 30px auto;
  }
  
  .recover-professionals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0px auto;
    padding: 15px;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  
  .form-recover {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
  }

  .form-recover div {
    margin: auto;
  }
  
  
  h2{
    margin: 2em 0;
    color: #000;
    text-align: center;
  }
  
  .submit {
    margin: 0 auto;
    color: white;
    text-align: center;
  }
  
  .mat-button-wrapper {
    padding-bottom: 8px;
    font-family: Lato;
  }
  
  .mat-button {
    margin: 10px 0;
    background-color: #0eaf81;
  }
  
  .mat-input-infix {
    height: 15px;
  }
  
  .login-header {
    width: 90%;
  }
  
  .text {
    font-size: 25px;
  }
  
  .error-email {
    padding-bottom: 16px;
  }
  
  .error-password {
    padding-bottom: 5px;
  }
  
  .rutas {
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    font-size: 12px;
  }
  
  .rutas a {
    text-decoration: none;
    color: #4f4f4f;
  }
  
  mat-error {
    width: 100%;
  }
  
  
  .sendButton {
    padding: 4% 2%;
    margin-top: 10px;
    background: #0eaf81;
    border: 0px;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    letter-spacing: 2px;
    margin-top: 2em;
  }
  
  .sendButton:disabled {
    background: #4f4f4f;
    cursor: not-allowed;
  }
  
  .input {
    margin: 10px 0px;
    width: 350px;
    height: 45px;
    font-size: 16px;
    border: 0.5px solid #4f4f4f;
    border-radius: 5px;
    padding-left: 15px;
  }
  
  .has-error {
    border-color: red;
  }
  

  @media screen and (max-width: 800px) {

    .recover {
      width: 100%;
    }

    .input {
      width: 95%;
    }

    .container {
      display: flex;
      justify-content: center;
      margin-top: 7em;
    }

    .form-recover {
      width: 90%;
    }

    .form-recover div {
      margin: 0;
    }

    .sendButton {
      padding: 2.5% 0;
      margin-top: 10px;
      background: #0eaf81;
      border: 0px;
      border-radius: 40px;
      font-size: 18px;
      color: white;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      width: 80%;
      letter-spacing: 2px;
      margin-top: 2em;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 2em;
    }

    .submit {
      height: auto;
    }

  }

  @media screen and (max-width: 450px) {
    .form-recover h2 {
      color: #000;
      font-size: 20px;
      font-weight: bold;
    }
    .form-recover label {
      font-size: 14px;
      color: #000;
    }
    .form-recover .input {
      font-size: 12px;
      color: #4f4f4f;
    }
    .sendButton  {
      background-color: #0eaf81;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
    }
  }