.container {
  width: 53.5%;
  margin: 7% auto;
}

div h1 {
  color: #050505;
  font-size: 32px;
  font-weight: bold;
  margin: 15px 0;
}

.divCont {
  margin: 5px 0;
}

.divCont p {
  color: #4f4f4f;
  font-weight: 300;
  font-size: 14px;
}

.text {
  margin: auto;
  width: 80%;
  text-align: center;
  border: 1px solid #d1d1d1;
  padding: 30px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #0eaf81;
}

@media screen and (max-width: 800px) {
  .container {
    width: 83.5%;
    margin: 20% auto;
  }
}