<div class="container">
  <div class="recover">
    <div class="img">
      <img
        src="../../../../assets/images/logo.png"
        alt=""
        srcset=""
        width="130px"
        height="170px"
      />
    </div>
    <form
      [formGroup]="f"
      (ngSubmit)="f.valid && reset()"
      #formUpdate="ngForm"
      class="form-recover"
    >
      <h2>Reset Password</h2>
      <input
        type="password"
        placeholder="Create Password"
        name="password"
        id="passwordProfessional"
        formControlName="password"
        class="input"
        [ngClass]="{
          'has-error': inputHasError(password, formUpdate.submitted)
        }"
      />
      <span *ngIf="inputHasError(password, formUpdate.submitted)">
        <sh-error-message
          [hasError]="password.errors.required"
          text="Password is"
          strongText="required"
        ></sh-error-message>
        <sh-error-message
          [hasError]="password.errors.minlength"
          text="Must have"
          strongText="at least 8 characters"
        ></sh-error-message>
        <sh-error-message
          [hasError]="password.errors.maxlength"
          text="Must have a"
          strongText="maximum of 16 characters long"
        ></sh-error-message>
        <sh-error-message
          [hasError]="password.errors.hasNumber"
          text="Must have"
          strongText="at least 1 number"
        ></sh-error-message>
        <sh-error-message
          [hasError]="password.errors.hasUpper"
          text="Must have"
          strongText="at least 1 uppercase letter"
        ></sh-error-message>
        <sh-error-message
          [hasError]="password.errors.hasLower"
          text="Must have"
          strongText="at least 1 lowercase letter"
        ></sh-error-message>
        <sh-error-message
          [hasError]="password.errors.hasCharacter"
          text="Must have"
          strongText="at least 1 symbol"
        ></sh-error-message>
        <sh-error-message
          [hasError]="password.errors.notSpaces"
          text="Must not have "
          strongText="spaces"
        ></sh-error-message>
      </span>
      <br />
      <input
        type="password"
        placeholder="Confirm Password"
        name="passwordConfirm"
        id="passwordConfirmProfessional"
        formControlName="passwordConfirm"
        class="input"
        [ngClass]="{
          'has-error': inputHasError(passwordConfirm, formUpdate.submitted)
        }"
      />
      <span *ngIf="inputHasError(passwordConfirm, formUpdate.submitted)">
        <sh-error-message
          [hasError]="passwordConfirm.errors.required"
          text="Confirm password is"
          strongText="required"
        ></sh-error-message>
      </span>
      <sh-error-message
        [hasError]="
          f.hasError('notmatch') && f.get('passwordConfirm').value.length > 0
        "
        text="Password"
        strongText="does not match!"
      ></sh-error-message>
      <div class="submit">
        <button type="submit" [disabled]="!f.valid" class="submit sendButton">
          Send!
        </button>
      </div>
    </form>
  </div>
  <div class="rutas">
    <a routerLink="/">Sign In!</a>
  </div>
  <sk-wave [isRunning]="loading" color="lightgrey"></sk-wave>
</div>
