* {
  max-height: 100vh;
}

.container {
  margin: 0px auto;
  overflow: hidden;
}

.img {
  width: 140px;
  height: 140px;
  margin: 30px auto;
}

.recover-professionals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 15px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.form-recover {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

h2 {
  margin: 10px;
  color: rgb(46, 46, 46);
}

.submit {
  height: 35px;
  margin: 0 auto;
  color: white;
}

.mat-button-wrapper {
  padding-bottom: 8px;
  font-family: Lato;
}

.mat-button {
  margin: 10px 0;
  background-color: rgba(39, 196, 158, 0.932);
}

.mat-input-infix {
  height: 15px;
}

.login-header {
  width: 90%;
}

.text {
  font-size: 25px;
}

.error-email {
  padding-bottom: 16px;
}

.error-password {
  padding-bottom: 5px;
}

.rutas {
  text-align: center;
  margin-top: 10px;
  padding: 15px;
  font-size: 12px;
}

.rutas a {
  text-decoration: none;
  color: #8c8c8c;
}

mat-error {
  width: 100%;
}

.sendButton {
  padding: 0px 45px;
  margin-top: 10px;
  background: #8c8c8c;
  border: 0px;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.sendButton:disabled {
  background: rgb(175, 175, 175);
  cursor: not-allowed;
}

.input {
  margin: 10px 0px;
  width: 350px;
  height: 45px;
  font-size: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding-left: 15px;
}

.has-error {
  border-color: red;
}

@media screen and (max-width: 800px) {
  .input {
    margin: 10px 0px;
    width: 95%;
    height: 45px;
    font-size: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 15px;
  }
}
