.cover-container img {
  width: 100%;
  max-height: 350px;
}

.backMobile {
  display: block;
  width: 100%;
  text-decoration: none;
  position: fixed;
  left: 0px;
  background-position: left;
  background-color: white;
  z-index: 2;
}

.backMobile a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
  margin-left: 4%;
}

a {
  color: #7da0f0;
  text-decoration: none;
}

.cont-text {
  width: 70%;
  margin: auto;
}

.cont-text h3 {
  margin: 10px 20px;
}

i {
  cursor: pointer;
  margin-top: 20px;
}

.brand-container {
  text-align: center;
  position: relative;
  top: -30px;
  width: 75%;
  background: #fff;
  margin: auto;
}

.sectOne {
  padding: 2.7% 5%;
  border: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
  flex-direction: row;
  /*height: 14.750em*/
}

.sectOne .boxLeft {
  display: flex;
  width: 60%;
  flex-direction: row;
}

.sectOne .boxLeft .mainCompanyInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
  margin-left: 1em;
}

.mainCompanyInfo h1 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.mainCompanyInfo p {
  font-size: 18px;
  color: #000;
  margin-top: 10px;
}

.mainCompanyInfo p span {
  font-size: 16px;
  color: #4f4f4f;
  margin-left: 0.5em;
}

.brand-container .sectOne .imgAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  background: white;
}

.brand-container .sectOne .imgAvatar img {
  width: 92%;
  height: 92%;
  background: white;
  object-fit: contain;
  object-position: center center;
}

.conte-edit {
  width: 70%;
}

.sectOne .dataProf {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 20px;
  border-left: 2px solid #e2e2e2;
}

.sectOne .dataProf h1 {
  font-size: 32px;
  color: #5a5a5a;
  text-align: left;
  line-height: 40px;
}

.sectOne .dataProf .data {
  display: flex;
  flex-direction: column;
}

.sectOne .dataProf .data span {
  font-weight: 300;
  color: #000;
  font-size: 18px;
}

.sectOne .dataProf .data p {
  padding: 0 10px 0 5px;
  color: #4f4f4f;
  font-size: 16px;
}

.sectOne .dataProf .data .colOne {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.sectOne .dataProf .data .colTwo {
  display: flex;
}

.sectOne .dataProf .data .colOne div {
  display: flex;
  padding: 10px 10px 10px 0;
}

.sectOne .dataProf .editB {
  padding: 5px 0px;
  text-align: right;
}

.sectOne .dataProf .editB button {
  background: transparent;
  text-transform: uppercase;
  color: #b1b1b1;
  padding: 5px;
  border-top: none;
  border-bottom: 1px solid #cdcdcd;
  border-left: none;
  border-right: none;
  cursor: pointer;
  font-size: 12px;
}

.sectTwo {
  padding: 2% 5%;
  border: 1px solid #e4e4e4;
  margin: 5% 0;
}

.sectTwo .sectionDesc {
  margin-bottom: 10%;
}

.title h1 {
  font-size: 32px;
  padding: 20px 0;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.sectTwo .sectionDesc .infoText {
  margin: 2% 0 7% 0;
}

.sectTwo .sectionDesc .infoText p {
  margin: auto;
  color: #4f4f4f;
  font-size: 16px;
  white-space: pre-line;
  line-height: 20px;
  text-align: left;
}

.sectTwo .sectionDesc .slider {
  width: 100%;
}

.sectTwo .sectionDesc .slider ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.sectTwo .sectionDesc .slider ul li {
  list-style: none;
  width: 30%;
  align-self: center;
}

.sectTwo .sectionDesc .slider ul li img {
  width: 100%;
}
.sectTwo .sectionJobs {
  margin-bottom: 10%;
}
.sectTwo.sectionJobs .title {
  font-size: 32px;
  font-weight: bold;
  color: #161616;
}
.sectTwo .sectionJobs .table {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0px 20px;
}

.sectTwo .sectionJobs .table table {
  width: 100%;
}
.sectTwo .sectionJobs .table .filaTable {
  border-bottom: 1px solid #e4e4e4;
}
.sectTwo .sectionJobs .table .filaTable .resM {
  display: flex;
  justify-content: space-between;
  width: 101%;
}
.sectTwo .sectionJobs .table .filaTable .resM .jobCel {
  width: 50%;
  text-align: left;
  padding: 14px;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
}
.sectTwo .sectionJobs .table .filaTable .resM .jobCel .job-link {
  color: #0eaf81;
}
.sectTwo .sectionJobs .table .filaTable .resM .trackCel {
  width: 50%;
  text-align: left;
  font-size: 18px;
  padding: 14px;
  color: #000;
  font-weight: 300;
}
.sectTwo .sectionJobs .table .filaTable .resM .trackCel span {
  color: #4f4f4f;
  font-weight: 300;
  margin-right: 17px;
  font-size: 16px;
}

.content_button a {
  margin: auto 0;
  color: white !important;
  background: #0eaf81;
  border-radius: 20px;
  padding: 11px 20px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.content_button button {
  margin: 0;
  color: white !important;
  background: #0eaf81;
  border-radius: 20px;
  padding: 11px 15px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: bold;
  border: 0px;
}

.content_button button:disabled {
  color: white !important;
  background: #d8d3d2 !important;
  cursor: no-drop;
}

.content_button .Taken {
  background: #6ac358 !important;
}
.divVideo {
  margin-bottom: 50px;
}

.table tr .editCel {
  width: 24%;
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  color: #b7b7b7;
  cursor: pointer;
  padding: 0px !important;
}

.table tr .editCel a {
  color: #b1b1b1;
  text-decoration: none;
  padding-bottom: 10px;
}

.table td {
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
}

hr {
  width: 250%;
}

.hide {
  display: none;
}

.photoInfo {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.container {
  width: 60%;
  margin: 20px auto;
  font-family: 'Lato';
}

.container .cont-gal {
  margin: 20px auto;
  width: 33%;
  text-align: center;
  display: inline-block;
}

section h2 {
  padding: 40px;
  padding-left: 0;
}

.imagen-container {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  padding: 30px 0px;
}

.about-imagen {
  width: 20%;
}

.about-imagen img {
  width: 100%;
}

#video-container {
  width: 60%;
  margin: 0 20%;
  padding-bottom: 50px;
}

.vg-icon-play_arrow:before {
  content: '\e01b';
  background: rgba(204, 98, 98, 0.5);
  border-radius: 0.15em;
}

#table-assessment,
#table-jobs {
  width: 80%;
}

.table-title th {
  text-align: left;
  font-weight: 100;
  text-transform: uppercase;
}

table tbody tr td {
  padding: 14px 0px;
}

.take-it {
  background: #ffd34c;
  color: black;
  font-weight: bold;
  padding: 7px 40px;
  border-radius: 3px;
}

.iconEdit {
  font-size: 2em;
}

.iconEdit:nth-child(2),
.iconEdit:nth-child(3) {
  margin-top: 40px;
  margin-left: 8em;
}

.jobs,
.assessment {
  display: flex;
  flex-direction: row;
}

.editIcon {
  font-size: 1em;
  float: right;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 10px;
}

.title-modal {
  text-align: center;
  padding: 0px;
}

.form {
  margin: auto;
}

.form div {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 5px 10px;
}

.filter {
  width: 75%;
  margin: 20px auto;
}

.update {
  margin: auto;
  border: 0px;
  background-color: #01a9db;
  padding: 6px 25px;
  cursor: pointer;
  border-radius: 3px;
}

.swiper-container {
  width: 80%;
  z-index: 0;
}

.swiper-container img {
  width: 80%;
  object-fit: contain;
  object-position: center center;
}

@media screen and (max-width: 800px) {
  .cont-text[_ngcontent-c6] {
    width: 80%;
    margin: 20px auto;
  }

  .container {
    width: 90%;
    margin: 20px auto;
    font-family: 'Lato';
  }

  .container .cont-gal {
    margin: 20px auto;
    width: 33%;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .cover-container {
    margin-top: 5.5em;
  }
  .backMobile {
    margin-top: 60px;
  }
  .cover-container img {
    width: 100%;
    object-fit: cover;
    height: 25vh;
  }
  .brand-container {
    text-align: center;
    position: initial;
    width: 90%;
  }
  .sectOne {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .sectOne .boxLeft .mainCompanyInfo {
    margin-top: 2em;
    margin-left: 0;
  }
  .mainCompanyInfo h1 {
    text-align: center;
    margin-bottom: 0.8em;
  }
  .sectOne .dataProf .data .colOne div {
    justify-content: center;
  }
  .sectOne .dataProf {
    width: auto;
    border-left: none;
  }
  .sectTwo .sectionJobs .table {
    width: 100%;
    margin: 0;
  }
  .sectTwo .sectionJobs .table .filaTable {
    display: flex;
    flex-direction: column;
  }
  .sectTwo .sectionJobs .table .filaTable {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
  }
  .sectTwo .sectionJobs .table .filaTable .resM {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .sectTwo .sectionJobs .table .filaTable .resM .jobCel {
    padding: 1px 0;
    border: none;
    width: 100%;
  }
  .sectTwo .sectionJobs .table .filaTable .resM .jobCel .job-link {
    color: #0eaf81;
  }
  .sectTwo .sectionJobs .table .filaTable .resM .trackCel {
    padding: 1px 0;
    border: none;
    width: 100%;
  }
  .sectTwo .sectionJobs .table .filaTable .editCel {
    width: 40%;
    padding: 0;
    border: none;
    align-self: center;
  }
  .cont-text[_ngcontent-c6] {
    width: 80%;
    margin: 20px auto;
  }
  .container[_ngcontent-c5] {
    width: 90%;
    margin: 20px auto;
    font-family: 'Lato';
  }
  .container .cont-gal {
    margin: 15px auto;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  #video-container {
    width: 90%;
    margin: 0 5%;
  }

  #table-assessment,
  #table-jobs {
    width: 100%;
  }

  .take-it {
    padding: 7px 20px;
    font-size: 8pt;
  }

  .brand-container .sectOne .imgAvatar {
    margin: auto;
    margin-top: -6em;
  }
  .sectOne .boxLeft {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .cover-container img {
    width: 100%;
    object-fit: cover;
    height: 25vh;
  }
  .brand-container {
    text-align: center;
    position: initial;
    width: 90%;
  }
  .sectOne {
    border: none;
    flex-direction: column;
    padding: 0;
  }
  .dataProf {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  .brand-container .sectOne .dataProf h1 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
  .dataProf .data .colOne {
    display: flex;
    flex-direction: column;
  }
  .sectOne .dataProf .data .colOne div {
    padding: 10px 0;
    justify-content: center;
  }
  .sectOne .dataProf .data .colOne div span {
    font-size: 18px;
    color: #000000;
  }
  .sectOne .dataProf .data .colOne div p {
    color: #4f4f4f;
    font-size: 16px;
  }
  .sectTwo {
    border: none;
    padding: 5% 0;
  }
  .sectTwo .sectionDesc {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .sectTwo .sectionDesc .title {
    order: 1;
  }
  .title h1 {
    font-size: 32px;
    color: #000000;
    font-weight: bold;
  }
  .sectTwo .sectionDesc .infoText {
    order: 3;
  }
  .sectTwo .sectionDesc .slider {
    order: 2;
  }
  .sectTwo .sectionDesc .infoText p {
    text-align: center;
    color: #4f4f4f;
    font-size: 16px;
  }
  .sectTwo .sectionJobs .title h1 {
    padding: 0;
  }
  .sectTwo .sectionJobs .table {
    width: 100%;
    margin: 0;
  }
  .sectTwo .sectionJobs .table .filaTable {
    display: flex;
    flex-direction: column;
  }
  .sectTwo .sectionJobs .table .filaTable {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
  }
  .sectTwo .sectionJobs .table .filaTable .resM {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .sectTwo .sectionJobs .table .filaTable .resM .jobCel {
    padding: 1px 0;
    border: none;
    width: 100%;
  }
  .sectTwo .sectionJobs .table .filaTable .resM .jobCel .job-link {
    color: #0eaf81;
    font-size: 15px;
    font-weight: bold;
  }
  .sectTwo .sectionJobs .table .filaTable .resM .trackCel {
    padding: 1px 0;
    border: none;
    width: 100%;
    font-size: 14px;
  }
  .sectTwo .sectionJobs .table .filaTable .editCel {
    width: 40%;
    padding: 0;
    border: none;
    align-self: center;
  }
  .sectTwo .sectionJobs .table .filaTable .editCel a {
    font-size: 12px;
    font-weight: bold;
  }
  .cont-text[_ngcontent-c6] {
    width: 80%;
    margin: 20px auto;
  }
  .container[_ngcontent-c5] {
    width: 90%;
    margin: 20px auto;
    font-family: 'Lato';
  }
  .container .cont-gal {
    margin: 15px auto;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  #video-container {
    width: 90%;
    margin: 0 5%;
  }

  #table-assessment,
  #table-jobs {
    width: 100%;
  }

  .take-it {
    padding: 7px 20px;
    font-size: 8pt;
  }
}
