<div class="container" (window:resize)="onResize($event)">
  <div class="title">
    <h1>Assessments</h1>
  </div>
  <div class="createPost">
    <a routerLink="/company/assessments/create" class="createJob job-link">
      <img src="./assets/images/post-job-icon.PNG" alt="" />
      <p class="titleassessment">Create An Assessment</p>
    </a>
  </div>
  <div class="table">
    <table>
      <tr *ngFor="let item of pageOfItems" class="filaTable">
        <td class="jobCel" *ngIf="!isMobile" >
          <a
            class="job-link"
            routerLink="/company/assessments/{{ item._id }}"
            >{{ item?.name }}</a
          >
        </td>
        <td class="trackCel" *ngIf="!isMobile" ><span>Track:</span> {{ item?.track?.name }}</td>
        <td class="tdmobile" *ngIf="isMobile" >
          <a class="job-link" routerLink="/company/assessments/{{ item._id }}">
            {{ item?.name }}
          </a>
          <p> <span>Track:</span> {{ item?.track?.name }} </p>
        </td>
        <td class="numApli">
          <img src="./assets/images/Applicant icon.PNG" alt="" />{{
            item?.answers
          }}
          Applicants
        </td>
      </tr>
    </table>

    <div class="pagination">
      <jw-pagination
        [items]="assessments"
        (changePage)="onChangePage($event)"
      ></jw-pagination>
    </div>
  </div>
</div>
