@font-face {
  font-family: 'Lato';
  src: url('/assets/font/Lato/Lato-Regular.ttf');
}

.content {
  background: #fff;
  display: block;
  margin: 1em auto;
  overflow-x: hidden;
}

.post__content {
  margin: 25px 0;
}

.post__header {
  text-align: center;
}

.post {
  width: 85%;
  margin: 0 auto 40px;
}

.body {
  font: 400 62.5% 'Proxima Nova', sans-serif;
  color: #4b4f54;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  line-height: 1.3;
  margin: 40px 0 10px;
}

.post-image {
  max-width: 900px;
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.return-icon {
  margin: 0 auto;
  text-align: left;
  width: 100%;
  color: gray;
  margin-top: 2%;
}

.more-link a:link {
  color: black;
  text-decoration: none !important;
}

/* visited link */
.more-link a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
.more-link a:hover {
  color: blue;
  text-decoration: none;
}

/* selected link */
.more-link a:active {
  color: gray;
  text-decoration: none;
}

.spinner {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 15px;
}

.texto-post p {
  margin: 15px 10px 15px;
}

.listener strong {
  display: none;
}

.post__meta {
  color: #4f4f4f;
  font-family: Lato !important;
  font-size: 11px;
  font-weight: bold;
}

.post__title {
  color: #000;
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
}

.back {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #4f4f4f;
}

.back a {
  margin-right: 10px;
}

h1 {
  text-align: left;
  margin: 20px 0 0 0;
}

.by {
  margin-bottom: 20px;
  text-align: left;
  color: #838383;
  font-family: Lato;
  font-size: 11px;
}

img {
  width: 50%;
}

.boxCont {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.boxCont .leftBox {
  width: 70%;
}

.boxCont .rightBox {
  width: 25%;
  color: #4f4f4f;
  font-family: 'Lato' !important;
  font-size: 16px;
  line-height: 19px;
}

.boxCont .rightBox .titleR {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #4f4f4f;
}

.contentR a {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  color: #4f4f4f;
  display: block;
}

.gotop {
  color: #5bbc9b;
  text-decoration: none;
  cursor: pointer;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.gotop:hover {
  color: #0eaf81;
}

.gotop:active {
  color: #0eaf81;
}

@media screen and (max-width: 800px) {
  .boxCont {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }

  .boxCont .leftBox {
    width: 100%;
  }

  .boxCont .rightBox {
    width: 90%;
    align-items: center;
    margin: auto;
  }
}
