<div class="container">
  <div class="band">
    <p>
      We care about bringing transparency to the job search
    </p>
  </div>
  <div class="team">
    <div class="titleTeam">
      <h1>our team</h1>
    </div>
    <div class="contentTeam">
      <div class="sectOne">
        <div class="box">
          <div class="descriptionTeam">
            <div class="avatar">
              <img src="./assets/images/Ariel_Lopez.png" alt="">
            </div>
            <span>Ariel Lopez, CEO</span>
            <i>Chief Executive Officer</i>
            <p>
              Ariel is a career coach, entrepreneur, and public speaker with an expertise in digital media and technology. With over 7 years of recruiting experience, she's worked with top brands and startups to help them build pipelines of talent. She's been featured in Forbes, Fast Company, Ebony and more.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="descriptionTeam">
            <div class="avatar">
              <img src="./assets/images/Jesse_Owens.png" alt="">
            </div>
            <span>Jesse Owens II, CTO</span>
            <i>Chief Technology Officer</i>
            <p>
              Jesse is a technology product leader with experience spanning across multiple industries including Fin Tech, Education, and Military Defense. Jesse has over 8 years of experience in product and development an has taught for Product School, General Assembly, and more.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="descriptionTeam">
            <div class="avatar">
              <img src="./assets/images/Sarathi_Srinivasan_ Sarathi_Srinivasan.png" alt="">
            </div>
            <span>Sarathi Srinivasan, CPO</span>
            <i>Chief Product Officer</i>
            <p>
              Sarathi is a Product Manager who loves creating technology that makes people's lives easier. Sarathi has over 7 years experience in product and fintech. In his free time he enjoys traveling, learning languages, and playing sports.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="descriptionTeam">
              <div class="avatar">
                <img src="./assets/images/Raymahl_Profile.png" alt="">
              </div>
              <span>Raymahl Sutton, COO</span>
              <i>Chief Operating Officer</i>
              <p>
                Former founder of Applyable. Created a recruitment platform as front-end/back-end dev & designer. 7+ years of tech, project and product management experience.
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footerContent">
    <div class="sectionNav">
      <div class="backImg">
        <img src="./assets/images/footer-bg.svg" alt="">
      </div>
      <div class="footerF">
        <div class="footerIcob">
          <img src="./assets/images/Logo-Knac.PNG" alt="">
        </div>
        <div class="footerNav">
          <ul>
            <li>
              <a routerLink="/home/signup" href="">Signup</a>
            </li>
            <li>
              <a routerLink="/about" href="">About</a>
            </li>
            <li>
              <a href="">Support</a>
            </li>
          </ul>
        </div>
        <div class="copyFooter">
          <p>&copy; 2019 All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>